<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>게시글 조회</h1>
    <form action="/board/delete" method="POST" id="form">
        <input type="hidden" name="boardNo" th:value="${board.boardNo}">
        <table>
            <tr>
                <td>좋아요</td>
                <td>
                    <input type="text" name="good" id="inputGood">
                    <button type="button" id="good">좋아요</button>
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title" id="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" id="writer" th:value="${board.writer}">
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea name="content" id="content" cols="40" rows="5" th:text="${board.content}"></textarea>
                </td>
            </tr>
        </table>

        <!-- 댓글 목록 -->
        <div id="comment-list">
        </div>

        <!-- 댓글 입력 -->
        <div class="input-box">
            <div class="top">
                <h3>댓글 입력</h3>
            </div>
            <div class="comment-input">
                <input type="text" name="writer" id="comment-writer" placeholder="작성자">
                <br>
                <textarea name="content" id="comment-content" 
                          cols="60" rows="5" placeholder="댓글을 작성해주세요"></textarea>
                <div class="btn-box">
                    <a href="javascript:;" id="btn-comment-insert" class="btn btn-sm">등록</a>
                </div>
            </div>
        </div>

        
        <div>
            <button type="button" onclick="moveList()">목록</button>
            <button type="button" onclick="moveUpdate()">수정</button>
            <button type="button" onclick="actionDelete()">삭제</button>
        </div>
    </form>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script>
        let form = document.getElementById('form')
        // 👩‍💻 모델 객체를 자바스크립트에서 표현하는 방법
        let boardNo = "[[${board.boardNo}]]"
        
        // 목록으로 이동
        function moveList() {
            location.href = "/board/list"
        }

        // 수정으로 이동
        function moveUpdate() {
            location.href = "/board/update?boardNo=" + boardNo
        }

        // 삭제 요청
        function actionDelete() {
            let check = confirm('정말로 삭제하시겠습니까?')
            if( check )
                form.submit()
        }

        initGood()

        $('#good').on('click', function () {
            good()
        })

        function initGood() {
            
            const url = `/good/${boardNo}`

            $.ajax({
                url : url,
                type : 'GET',
                success : function(response) {
                    console.log(response);
                    console.log(response.good);
                    let count = response.good
                    
                    $('#inputGood').val(count)

                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })

        }

        function good() {
            
            const url = `/good/${boardNo}`

            $.ajax({
                url : url,
                type : 'PUT',
                success : function(response) {
                    let result = response
                    if ( result = 'success') {
                        initGood()
                    }
                },
                error : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })

        }

        if( boardNo != null ) {
            getCommentList()
        }

        // 댓글 목록 조회
        function getCommentList() {

            const url = '/comment/' + boardNo 

            $.ajax({
                url : url,
                type : 'get',
                success : function(response) {
                    let commentList = response

                    console.log(commentList)

                    let commentData = ''
                    for (let i = 0; i < commentList.length; i++) {
                        let comment = commentList[i]

                        let date = new Date(comment.regDate);
                        let regDate = date.toISOString().split("T")[0];
                        let regTime = date.toISOString().split("T")[1];
                        regTime = regTime.split(".")[0]


                        let commentBox 
                        = `<div class="comment-box">
                                <div class="data-box">
                                    <div class="top">
                                        <div class="item">
                                            <span class="comment-writer">${comment.writer}</span>
                                            <span class="comment-date">${regDate} ${regTime}</span>
                                        </div>
                                        <div class="item">
                                            <a href="javascript:;" class="btn btn-sm btn-comment-update" data="${comment.commentNo}">수정</a>
                                            <a href="javascript:;" class="btn btn-sm btn-comment-delete" data="${comment.commentNo}">삭제</a>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <p class="comment-content">${comment.content}</p>
                                    </div>
                                </div>
                                <div class="edit-box"></div>
                            </div>
                            `
                        commentData += commentBox
                    }

                    $('#comment-list').html(commentData)

                    // 이벤트 추가
                    initCommentEvent()
                    
                },
                error : function(error) {

                }
            })
        }

        // 댓글 등록 버튼 - 클릭 이벤트
        $('#btn-comment-insert').on('click', function() {
            let writer = $('#comment-writer').val()
            let content = $('#comment-content').val()

            insertComment( writer, content )
        })

        // 댓글 등록
        function insertComment( writer, content ) {

            const url = '/comment/' + boardNo

            let data = {
                'writer'    : writer,
                'content'   : content,
            }

            $.ajax({
                url : url,
                type : 'POST',
                data : JSON.stringify(data),
                contentType : 'application/json',
                success : function(response) {
                    let result = response

                    if( result == '댓글 등록 완료' ) {
                        alert('댓글 등록이 완료되었습니다.')
                        // 댓글 목록 갱신
                        getCommentList()

                        // 작성한 댓글 입력내용 초기화
                        $('#comment-writer').val('')
                        $('#comment-content').val('')

                    }
                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }


        function initCommentEvent() {

            // 댓글 [수정]
            $('.btn-comment-update').on('click', function() {
                // 작성자, 내용 가져오기
                let btn = $(this)
                let commentNo = btn.attr('data')
                let commentBox = btn.parents('.comment-box')
                let commentWriter = commentBox.find('.comment-writer')
                let commentContent = commentBox.find('.comment-content')

                let writer = commentWriter.text()
                let content = commentContent.text()

                console.log( btn.parents() )                        // 부모요소
                console.log( btn.parents('.comment-box') )          // 특정 상위요소
                console.log( commentBox.children() )                // 자식요소
                console.log( commentBox.find('.comment-writer') )   // 특정 하위요소
                console.log( writer );
                console.log( content );

                // 수정 중인 다른 댓글 UI 초기화
                $('.data-box').show()
                $('.edit-box').empty()
                $('.reply-box').remove()

                // 댓글 보기 숨김
                commentBox.find('.data-box').hide()

                // 댓글 수정 UI 추가
                let editBox 
                = `<div class="top">
                        <div class="item">
                            <input type="text" id="input-update-writer" value="${writer}" />
                        </div>
                        <div class="item">
                            
                        </div>
                    </div>
                    <div class="bottom">
                        <textarea id="input-update-content" cols="40" rows="5">${content}</textarea>
                        <div class="etc-box">
                            <a href="javascript:;" class="btn btn-sm" id="btn-comment-update" data="${commentNo}">수정</a>
                            <a href="javascript:;" class="btn btn-sm" id="btn-comment-cancel">취소</a>
                        </div>
                    </div>
                    `
                commentBox.find('.edit-box').html(editBox)    

                // 댓글 [수정] 취소 버튼 클릭
                $('#btn-comment-cancel').on('click', function() {

                    commentBox.find('.data-box').show()
                    commentBox.find('.edit-box').empty()
                    // $('.comment-box .data-box').show()
                    // $('.comment-box .edit-box').empty()
                })

                // 댓글 [수정] 수정 버튼 클릭
                $('#btn-comment-update').on('click', function() {

                    let url = `/comment/${boardNo}/${commentNo}`

                    let data = {
                        writer      : $('#input-update-writer').val(),
                        content     : $('#input-update-content').val(),
                    }

                    $.ajax({
                        url     : url,
                        type    : 'PUT',
                        data : JSON.stringify(data),
                        contentType : 'application/json',
                        success : function(response) {
                            let result = response
                            if( result == '댓글 수정 완료' ) {
                                alert('댓글 수정이 완료되었습니다.')
                                // 댓글 목록 갱신
                                getCommentList()
                            }

                        },
                        error           : function(request, status, error){
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        }
                    })


                })

                
            })

            // 댓글 [삭제]
            $('.btn-comment-delete').on('click', function() {

                let check = confirm('정말로 삭제하시겠습니까?')
                if( !check )
                    return

                let commentNo = $(this).attr('data')

                let url = `/comment/${boardNo}/${commentNo}`

                $.ajax({
                    url     : url,
                    type    : 'DELETE',
                    success : function(response) {
                        let result = response
                        if( result == '댓글 삭제 완료' ) {
                            alert('댓글 삭제가 완료되었습니다.')
                            // 댓글 목록 갱신
                            getCommentList()
                        }

                    },
                    error           : function(request, status, error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                })

            })

            
        }

    </script>
</body>
</html>